body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FDFDFD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 100vw;
    background-color: #050606;
}

.geneAct{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;    
}
.blur{
    filter: blur(5px);
}

.blur:hover{
    filter: blur(0);

}
.generate{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 90vw;
}
.containerAll{
    margin-top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
 h4{
     margin: 0;
     font-size: 24px;
     margin-top: 36px;
     margin-bottom: 32px;
 }

form{
    margin-bottom: 32px;
}
.btn-generator {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background:#ADB3BC;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
   }
   .resetAll{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background:#bd5757;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
   }
   
   .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
   }
   
   .label {
    color: white;

    position: relative;
    top: -1px;
   }
   
   .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: #050606;
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }
   
   button:hover .transition {
    width: 14em;
    height: 14em;
   }
   
   button:active {
    transform: scale(.97);
   }

    .inactive{
        display: none;
    }
    
   .mensajeOculto{
    width: 100vw;
    border: 1px solid red;
    text-align: center;
    color: red;
    padding: 2em;
   }

   .autoCopy:hover{
    cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
 }
 
 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #0E6EB8;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
  content: 'VISIBLE';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'OCULTO';
 }
 
 /*--------- END --------*/









  @media (max-width:600px) {
    .geneAct{
      font-size: 20px;
    }
    form{
      /* border: 1px solid red; */
    }
    *{
      
    }
  }